
# SPDX-License-Identifier: Apache-2.0

config SOC_INGCHIPS_ING9168
	bool "INGCHIPS ING9168"
	# select ING916_SYSTICK
	select ARM
	select CPU_CORTEX_M4
	select CPU_CORTEX_M_HAS_DWT
	select CPU_HAS_FPU
	select CPU_HAS_ARM_MPU
	select HAS_SWO
	select HAS_PM
	select HAS_POWEROFF
	select HAS_INGCHIPS_DRIVERS
	select DYNAMIC_INTERRUPTS
	select VECTOR_IN_RAM
	select THREAD_STACK_INFO
	select DYNAMIC_THREAD
	help
	  Enable support for ING9168

