# INGCHIPS RTC configuration

# Copyright (c) 2016 Open-RnD Sp. z o.o.
# SPDX-License-Identifier: Apache-2.0
config RTC_INGCHIPS
	bool "RTC Driver for ingchips family of MCUs"
	default y
	depends on DT_HAS_INGCHIPS_ING_RTC_ENABLED
	help
	  Enable GPIO driver for INGCHIPS line of MCUs