# ST Microelectronics STM32F1 MCU line

# Copyright (c) 2016 Open-RnD Sp. z o.o.
# Copyright (c) RnDity Sp. z o.o.
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "ingchips MCU Selection"
	depends on SOC_SERIES_ING918

config SOC_INGCHIP_ING918
	bool "INGCHIP_ING918"


endchoice

