#INGCHIPS MCU line

# Copyright (c) 2016 Open-RnD Sp. z o.o.
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_INGCHIPS
	bool
	select HAS_SEGGER_RTT if ZEPHYR_SEGGER_MODULE
	select INGCHIPS_ENABLE_DEBUG_SLEEP_STOP if DEBUG || ZTEST
	select BUILD_OUTPUT_HEX

if SOC_FAMILY_INGCHIPS
config SOC_FAMILY
	string
	default "ingchips"

config INGCHIPS_ENABLE_DEBUG_SLEEP_STOP ##todo
	bool "Allow debugger attach in stop/sleep Mode"
	help
	  Some INGCHIPS parts disable the DBGMCU in sleep/stop modes because
	  of power consumption. As a side-effects this prevents
	  debuggers from attaching w/o resetting the target. This
	  effectivly destroys the use-case of `west attach`. Also
	  SEGGER RTT and similar technologies need this.

source "soc/arm/ingchips/*/Kconfig.soc"

endif # SOC_FAMILY_INGCHIPS
